﻿@model List<AcunMedyaAkademiPortfolio.Models.TblBanner>

<section class="ftco-hireme">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-8 col-lg-8 d-flex align-items-center">
                <div class="w-100 py-4">
                    <h2>Düşündüğünüz Projeleri Beraber Çalışabiliriz!</h2>
                    <p>Ortak bir projede beraber çalışabiliriz fikirlerini benimle paylaş.</p>
                    <p class="mb-0"><a href="#contact-section" class="btn btn-white py-3 px-4">İletişime Geç</a></p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 d-flex align-items-end">
                <img src="#" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
