﻿@model List<AcunMedyaAkademiPortfolio.Models.TblContact>

<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Bizi Ziyaret Ettiğiniz İçin Teşekkürler.</h2>
                    <p>Hakkımızda Daha Fazla Bilgiye Ulaşmak İçin İletişim Kanallarımız Üzerinden Bizlerle İletişime Geçebilirsiniz.</p>
                    <p><a href="#" class="btn btn-primary">Ana Sayfaya Git</a></p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Linkler</h2>
                    <ul class="list-unstyled">
                        <li><a href="#home-section"><span class="fa fa-chevron-right mr-2"></span>Ana Sayfa</a></li>
                        <li><a href="#about-section"><span class="fa fa-chevron-right mr-2"></span>Hakkında</a></li>
                        <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Servisler</a></li>
                        <li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Projeler</a></li>
                        <li><a href="#contact-section"><span class="fa fa-chevron-right mr-2"></span>İletişim</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Servislerim</h2>
                    <ul class="list-unstyled">
                        <li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Web Sitesi Tasarlama</a></li>
                        <li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Performans ve Güvenlik Optimizasyonu</a></li>
                        <li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Veritabanı Tasarımı ve Yönetimi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Herhangi Bir Sorun Var Mı?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">İstanbul</span></li>
                            <li><a href="#contact-section"><span class="icon fa fa-phone"></span><span class="text">+90 534 980 87 88</span></a></li>
                            <li><a href="#contact-section"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">suleymannsusuz@gmail.com</span></a></li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a href="https://www.instagram.com/suleymanssz/"><span class="fa fa-instagram"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.linkedin.com/in/s%C3%BCleyman-susuz-93b202297/"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır |<i aria-hidden="true"></i><a href="https://colorlib.com" target="_blank"></a>
                </p>
            </div>
        </div>
    </div>
</footer>
